<h1>Users#show</h1>
<% if user_signed_in? %>
  <%= link_to '編集する', "/users/edit", method: :get %>
  <%= link_to '退会する', "/users", method: :delete %>
<% end %>
<div>
  <div>
    <%= @user.name %>
  </div>
  <div>
  <div>
    <%= @user.nickname %>
  </div>
  <div>
    <%= @user.self_introduction %>
  </div>
  <div>
    <%= @user.image %>
  </div>
  <div>
    <% @plans.each do |plan| %>
  <div>
  <%= plan.title %>
  </div>
  <div>
  <%= plan.region %>
  </div>
  <div>
  <%= plan.date %>
  </div>
  <div>
  <%= plan.image %>
  </div>
  <div>
  <%= plan.details %>
  </div>
  <br>
<% end %>
  </div>
</div>


