<h1>Users#show</h1>
<div class = "user_operation_menu">
  <% if user_signed_in? %>
    <%= link_to '編集する', "/users/edit", method: :get %>
    <%= link_to '退会する', "/users", method: :delete %>
  <% end %>
</div>
<div class = "user_details_block">
  <div>
    <%= @user.name %>
  </div>
  <div>
    <%= @user.nickname %>
  </div>
  <div>
    <%= @user.self_introduction %>
  </div>
  <div>
    <%= image_tag @user.image %>
  </div>
</div>
<div class = "plans_block">
  <% @plans.each do |plan| %>
  <div class="plan_title">
  <%= plan.title %>
  </div>
  <div class = "region">
  <%= plan.region %>
  </div>
  <div class = "date">
  <%= plan.date %>
  </div>
  <div class = "plan_image">
  <%= image_tag plan.image, size: '280x320' %>
  </div>
  <div class = "plan_detail_text">
  <%= plan.details %>
  </div>
  <br>
<% end %>
  
</div>


