<div class = "cover_image">
  <div class = "band">
    <div class ="main-title">
      <h1>kari title</h1>
    </div>
  </div>
</div>
<div class = "all_contents">
  <div class = "plan_contents">
  <h3 class = "plan_finding">一覧</h3>
    <div class="row">
        <% @plans.each do |plan| %>
          <div class="col-sm-4">
            <%= link_to("/plans/#{plan.id}", method: :get) do %>
              <div class="card" >
                <%= image_tag plan.image.to_s, class:"card-img-top" %>
                <div class="card-body">
                  <h4 class="card-title">
                    <%= link_to plan.title, "/plans/#{plan.id}", method: :get %>
                  </h4>
                  <p class="card-text">
                    <%= plan.details %>
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
    
    <div class = "map_contents">
      <h3 class = "plan_finding">地図でイベントを探してみる</h3>
      <%= link_to('')%>
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Oo8-ske08sW3WFZBP3OL8NA8U4SWXj4q" width="900" height="700"></iframe>
      <%# <div class = "map_contents_image"> %>
    </div>
  </div>
</div>
  
</div>
