<p>post-newpage</p>
<div class = "post__form">
  <%= form_for(@plan) do |f| %>
  <%# <%= form_tag('/plans', method: :post, :multipart => true) do %>
  <div class = "post__form__title">
    <%=f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class = "post__form__details">
    <%=f.label :details %>
    <%= f.text_area :details %> 
  </div>
  <div class = "post__form__image">
    <%=f.label :image %>
    <%= f.text_field :image %>
  </div>
  <div class = "post__form__region">
    <%=f.label :region %>
    <%= f.text_field :region %>
  </div>
  <div class = "post__form__date">
    <%=f.label :date %>
    <%= f.text_field :date %>
  </div>
  <div class = "post__form__submit">
    <%= f.submit %>
  </div>
  <% end %>
</div>