<div class = "post_operation">
  <%if user_signed_in? && current_user.id == @plan.user_id %>
    <%= link_to '編集', "/plans/#{@plan.id}/edit", method: :get %>
    <%= link_to '削除',"/plans/#{@plan.id}/", method: :delete %>
  <% end %>
</div>
<div class="post_details_block">
  <div class="plan_title">
  <%= @plan.title %>
  </div>
  <div class="plan_user">
  <%= @plan.user.name %>
  </div>
  <div class="region">
  <%= @plan.region %>
  </div>
  <div class="date">
  <%= @plan.date %>
  </div>
  <div class="plan_image">
  <%# <% if @plan.image.attached? %>
    <%# <%= image_tag (@plan.thumbnail) %>
    <%= image_tag (@plan.image) %>
  <%# <% end %>
  </div>
  <div class="plan_details_text">
  <%= @plan.details %>
  </div>
  <div class = "api_sunipet">
  </div>
  <br>
</div>
<%# <%= @response["Places"] %>
<%# 次は繰り返しで安い順に出発地、到着地、値段を出力 %>


<%= @place %>
<%= @OriginId_array %>
<% @indicate_place_array.each do |place| %>
  <p>出発地: <%= place["Name"] %>     最安値: ¥<%= place["MinPrice"] %></p>
<% end %>

<%# EasyTranslateのAPIが見つからないためAPIkey取得不可 %>
<%# <%= EasyTranslate.translate(@response["Carriers"][0]["Name"], :to => 'JP') %> %>
<%# <%= @translate_airline %> %>
<%# <%= EasyTranslate.translate("hello", :to => 'JP') %> %>
<script>
// console.log("ok");
// // require 'unirest'

// response = Unirest.get "https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2020-06-01?inboundpartialdate=2020-07-01",
//   headers:{
//     "X-RapidAPI-Host" => "skyscanner-skyscanner-flight-search-v1.p.rapidapi.com",
//     "X-RapidAPI-Key" => "5fbb370a14msh448274ed39c0dfap1ac708jsn3bde6104ef41"
//   }
//   console.log(response);


// require 'uri'
// require 'net/http'
// require 'openssl'

// url = URI("https://skyscanner-skyscanner-flight-search-v1.p.rapidapi.com/apiservices/browsequotes/v1.0/US/USD/en-US/SFO-sky/JFK-sky/2020-06-01?inboundpartialdate=2020-07-01")

// http = Net::HTTP.new(url.host, url.port)
// http.use_ssl = true
// http.verify_mode = OpenSSL::SSL::VERIFY_NONE

// request = Net::HTTP::Get.new(url)
// request["x-rapidapi-host"] = 'skyscanner-skyscanner-flight-search-v1.p.rapidapi.com'
// request["x-rapidapi-key"] = '5fbb370a14msh448274ed39c0dfap1ac708jsn3bde6104ef41'

// response = http.request(request)
// puts response.read_body
  
</script>
<script>
var from = 1;
var to=99;
var num=Array(to-from+1).fill(null).map((x,y)=>(y+from)**4).reduce((x,y)=>x+y);
console.log(num)
</script>



