<!DOCTYPE html>
<html>
  <head>
    <title>Guild</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# turbolinksを削除 %>
    <%# <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="bg_swicher.js"></script>
    <script src="./jquery.bgswitcher.js"></script>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <ul class="nav pull-right">
              <%= link_to "logout", destroy_user_session_path, method: :delete %>
              <a class="post" href="/plans/new">post</a>
              <%= link_to"TOP","/plans"%>
              <%= link_to "mypage", "/users/current_user.id"%>
        </ul>
      <% else %>
        <ul class="nav pull-right">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </ul>
      <% end %>
    </header>
      <div class = "main_container">
        <%= yield %>
      </div>
    <footer class = "footer">
      <div class = "footer_menu">
        <div class = "footer_menu_left">
          <h4>フッター見出し１</h4>
          <ul class="fotter_nenu_left_contents">
            <li>フッターメニュー１</li>
            <li>フッターメニュー２</li>
            <li>フッターメニュー３</li>
          </ul>
        </div>
        <div class = "footer_menu_right">
          <h4>フッター見出し2</h4>
          <ul class="fotter_nenu_left_contents">
            <li>フッターメニュー4</li>
            <li>フッターメニュー5</li>
            <li>フッターメニュー6</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
