<!DOCTYPE html>
<html>
  <head>
    <title>Guild</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <ul class="nav pull-right">
              <%= link_to "logout", destroy_user_session_path, method: :delete %>
              <a class="post" href="/plans/new">post</a>
              <%= link_to"TOP","/plans"%>
              <%= link_to "mypage", "/users/current_user.id"%>
        </ul>
      <% else %>
        <ul class="nav pull-right">
              <%= link_to "ログイン", new_user_session_path, class: 'post' %>
              <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
        </ul>
      <% end %>
    </header>
      <div class = "main_container">
        <%= yield %>
      </div>
  </body>
</html>
